*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root { 
    --background: white;
    --primary-elements: #BF9264;
    --secondary-elements: #6f826a;
    --highlight: #BAD9A2;
    --backgrond-secondary: #F7F4D2;
}

body{
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

main {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    height: 30%;
    display: flex;
    align-items: center;
    color: var(--primary-elements);
    font-size: 2.9em;
}

.ui-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--secondary-elements);
}

.ui-container label {
    margin-top: 15px;
    font-size: 1.01rem;
}

.fields-div {
    margin-top: 10px;   
}

#check-btn {
    border: none;
    background-color: var(--backgrond-secondary);
    font-size: 1.1rem;
    padding: 5px 2px;
    border-radius: 5px;
}

#check-btn:hover {
    background-color: var(--highlight);
}


#result {
    display: none;
    color: var(--primary-elements);
}

.rule-div {
    height: 30%;
    margin-top: 8%;
    background-color: var(--backgrond-secondary);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.rule-div p {
    padding-left: 14%;
    padding-right: 5%;
    font-size: 1rem;
}


@media (max-width: 500px) {
    
    h1 {
        font-size: 1.6rem;
    }
    
    .ui-container {
        width: 80%;
    }

    .ui-container label {
        font-size: 0.85rem;
    }

    .rule-div {
        width: 80%;
    }
    
    input[type="text"] {
        font-size: 1.1rem;
    }

    .fields-div {
        display: flex;
    }
}